<h2>Listing users</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Company</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.company.name %></td>
      <td><%= link_to 'Delete', user_path(user), method: :delete %></td>
      <!-- user's companye -->
      <!-- <td><%= link_to 'Show', user_path(user) %></td> -->
    </tr>
  <% end %>
</table>
