%h2 Create Company

= simple_form_for @company do |f|
  = f.input :name, required: true, autofocus: true
  = f.input :description, as: :text, required: true
  = f.input :picture, as: :file, required: true
  = f.button :submit, "Sign up"
